.login-page{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 4rem 0;
    
}

.login-page-heading{
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--color-brand);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form{
    display: flex;
    flex-direction: column;
  
}

/* .form-content{
    display: flex;
    flex-direction:column;
    margin-bottom: 2rem;
}

.form-input{
    font-size: 1rem;
    padding: 0.7rem 0.2rem 0.2rem 0.2rem;
    outline: none;
    border-bottom: solid 2px var(--color-brand);
} */

.login-btn{
    background-color: rgb(210, 151, 42);
    padding: 0.5rem;
    color: white;
    font-weight: 600;
}

.forgot-password{
    text-align: end;
    margin-top: 0.5rem;
    color: rgb(217, 198, 120);
    font-WEIGHT: 600;
    font-size: 14px;
    text-decoration: underline;
    
}

.forgot-password > a{
    cursor: pointer;
}

.create-acc{
    text-align: center;
    margin-top: 2rem;
    color: rgb(91, 91, 91);
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}


